<a href="https://colab.research.google.com/github/Steeven117/Google-Colaboratory/blob/main/Series_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SERIES USANDO EL FOR

In [3]:
# Series 1: 1, 2, 3, 4, 5, 6, 7, 8, 9,10

print("-------------------------------")
print("-----------SERIES 1------------")
print("-------------------------------")

S = "Series: "
for i in range(1,11):
  S =S +str(i) + ", "
S = S + ")"
print(S)

-------------------------------
-----------SERIES 1------------
-------------------------------
Series: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [7]:
# Serie 2: 1, 4, 9, 16, 25, 36, 49, 64, 81, ...

print("-------------------------------")
print("-----------SERIES 2------------")
print("-------------------------------")

S = "Series: "
for i in range(1,11):
  if i!=10: 
    S =S +str(i**2) + ", "
  else:
    S =S +str(i**2)
S = S + ")"
print(S)

-------------------------------
-----------SERIES 2------------
-------------------------------
Series: 1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [12]:
# Serie 3: 2, 4, 8, 16, 32, 64

print("----------------------")
print("-------SERIE 3--------")
print("----------------------")

S = "Series: "
for i in range(1,11):
  if i!=10:
    S =S+str(2**i) + ", "
  else:
    S=S+str(2**i)
S = S + ")"
print(S)

----------------------
-------SERIE 3--------
----------------------
Series: 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024)

In [19]:
# Series 4: 2, 6, 12, 20, 30, 42, 56 , ...

print("----------------------")
print("-------SERIE 4--------")
print("----------------------")

S = "Series: "
for i in range(1,11):
  if i!=10:
    S =S+str(i**2+i) + ", "
  else:
    S=S+str(i**2+i)
S = S + ")"
print(S)

----------------------
-------SERIE 4--------
----------------------
Series: 2, 6, 12, 20, 30, 42, 56, 72, 90, 110)